@use 'variables' as *;
@use 'mixin' as *;

.reservesuturno {
  @include titulo-base($gallery-font-size-title);
  font-family: $gallery-font-family-main;
  font-weight: 900;
  text-align: center;
  margin-bottom: $heading-margin-bottom;
  padding: 0.9375rem;
  color: $color-titulo; 
}

form {
  background-color: $color-fondo;
  padding: $form-padding;
  max-width: 800px;
  margin: auto;
  box-shadow: $form-box-shadow;
  border-radius: $form-border-radius;
}

.forminput {
  padding: 6px 20px;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border: none;
  border-left: 3px solid $primary-color; 
}

textarea {
  min-width: 100%;
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
  font-family: sans-serif;
}

form h2 {
  color: $color-texto;
  text-align: center;
  margin: 0 0 8px 0;
  font-size: $tamano-titulo-md; 
  font-family: $font-family-titulos; 
}

label {
  font-size: $tamano-texto-sm;
  line-height: 2;
  text-transform: uppercase;
  font-family: $font-family-alt;
}

a {
  color: $color-texto;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

iframe {
  display: block;
  margin: 20px auto;
  border: none;
  max-width: 100%;
  height: $iframe-height;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

    .volver-arriba {
      display: inline-block;
      margin-top: 1rem;
      color: #fff;
      background-color: $secondary-color;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
    }