@use 'variables' as *;
@use 'mixin' as *;

.contenedor-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}


.imageninicio {
  max-width: 400px;
  flex: 1 1 300px;

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease-in-out;
  }

  &:hover img {
    transform: scale(1.1);
  }
}