@use 'variables' as *;
@use 'mixin' as *;

.contenedor-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}


.imageninicio {
  max-width: 400px;
  flex: 1 1 300px;

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease-in-out;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.boton-instagram-inline {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.3rem 0.6rem;
  background-color: #e1306c;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #B14890;
  }
}