@use 'variables';
@use 'mixin';

.contacto {
@include mixin.titulo-base($size: variables.$tamano-titulo-lg);
margin-top: 10px;
color: variables.$color-texto; 
font-family: variables.$fuente-titulos; 
}

.informacion {
font-family: variables.$fuente-general;
line-height: 1.3;
padding: 20px;
background-color: variables.$color-principal;
border-radius: 8px;
max-width: 950px;
width: 950px;
margin: 100px auto;
@include mixin.sombra; 
display: flex;
flex-direction: column;
}

.detalle {
display: flex;
align-items: center;
margin-bottom: 6px;
white-space: nowrap;
}

.titulo {
font-family: variables.$fuente-titulos;
font-weight: bold;
font-size: variables.$tamano-texto-lg; 
margin-right: 6px;
}

.instagram-container {
display: flex;
justify-content: center;
margin: 20px 0;
}

.instagram-box {
display: flex;
align-items: center;
font-size: variables.$tamano-texto-sm;
}

.logo-instagram {
width: 50px;
height: auto;
}

.texto-instagram,
.teesperamos {
color: variables.$color-texto;
font-family: variables.$fuente-secundaria;
display: flex;
text-align: center;
align-items: center;
white-space: nowrap;
}

.teesperamos {
margin-left: auto;
}

.mapa {
width: 100%;
height: variables.$mapa-height;
border-radius: 8px;
overflow: hidden;
margin: 30px auto 50px auto;
}

@media (max-width: 768px) {
.contacto {
    font-size: variables.$tamano-subtitulo-md; 
    white-space: normal;
    padding: 10px;
}

.informacion {
    width: 100%;
    margin: 30px 10px;
    padding: 15px;
    box-sizing: border-box;
}

.detalle {
    flex-direction: column;
    align-items: flex-start;
    white-space: normal;
    margin-bottom: 12px;
}

.titulo {
    font-size: variables.$tamano-texto-sm; 
    margin-bottom: 4px;
}

.texto-instagram,
.teesperamos {
    flex-direction: column;
    text-align: center;
    white-space: normal;
    margin-left: 0;
    font-size: variables.$tamano-texto-xs;
}

.instagram-container {
    flex-direction: column;
    align-items: center;
}

.instagram-box {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo-instagram {
    width: 40px;
}

.mapa {
    height: variables.$mapa-height-mobile;
    margin: 20px 10px;
}
}