@use 'variables' as *;

// _footer.scss
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $tamanio-texto;
    text-align: center; 
    bottom: 0;
    width: 100%;
    
    p {
        color: $color-footer;
        font-size: $tamanio-texto-chico;
        font-family: $fuente-general;
    }
    }
