@use 'variables' as *;

// _footer.scss
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $tamanio-texto;
    text-align: center; 
    width: 100%;
    margin-top: 2rem;
    color: $color-footer;
    font-size: $tamanio-texto-chico;
    font-family: $fuente-general;
}