@use 'variables' as *;
@use 'mixin' as *;

.galeria {
  h1 {
    @include titulo-base(2.1875rem);
    color: black;
    font-size: $gallery-font-size-title;
    font-family: $gallery-font-family-main;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4.375rem; // 70px
    padding: 0.9375rem; // 15px
  }

#carouselExampleIndicators {
    width: 100%;         
    max-width: 800px;        
    min-width: 500px;        

    margin: 2rem auto;
    aspect-ratio: 16 / 9;

    .carousel-item {
      img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        border-radius: 0.625rem;
        display: block;
      }
    }

    // controles e indicadores quedan igual
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: $gallery-button-bg-color;
      border-radius: 50%;
      padding: 1.25rem;
    }

    .carousel-indicators {
      button {
        background-color: $gallery-primary-color;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        opacity: 0.5;
      }

      .active {
        background-color: $gallery-active-indicator-color;
        opacity: 1;
      }
    }
  }

  @media (max-width: 768px) {
    #carouselExampleIndicators {
      width: 90%;
      min-width: auto;
      max-width: none;
      aspect-ratio: auto;

      .carousel-item img {
        height: auto !important;
        width: 100% !important;
      }
    }
  }
}