@use 'variables' as *;
@use 'mixin' as *;

body {
  background-color: $color-fondo !important;
  font-family: $font-family-main;
  min-height: 100vh;
  width: 100%;
}

nav {
  @include flex-center(row, space-between, center, 1.25rem);
  background-color: $secondary-color !important;
  font-family: $font-family-main;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 90px;
  font-size: 3rem;
  width: 100%;
  padding: 15px 20px;

  .logo img {
    display: block;
    height: 100px;
  }

  .menu {
    @include flex-center(row, center, center, 5rem);
    flex-grow: 1;
    width: 100%;

    a {
      color: $color-titulo;
      text-decoration: none;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.tituloprincipalinicio {
  @include titulo-base(2.1875rem);
  color: $color-titulo;
  font-family: $font-family-main;
  font-weight: 900;
  white-space: nowrap;

  h1 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1.5s ease-out forwards;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulosecundario {
  color: $color-titulo;
  font-family: $font-family-main;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin: 2rem 0;

  h2 {
    margin: 0 auto;
    display: inline-block;
  }
}

li {
  color: white;
  text-decoration: underline;
}

html {
      scroll-behavior: smooth;
    }
