// _reset.scss
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// _header.scss
nav {
    display: flex;
    font-family: $fuente-principal;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 90px;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding: 15px 20px;
    background: $color-rosa;

    .logo img {
        display: block;
        height: 100px;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        gap: 80px;
        width: 100%;
    }

    .menu a {
        color: black;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

// _footer.scss
@use 'variables' as *;

footer {
display: flex;
justify-content: center;
align-items: center;
font-size: $tamano-texto-sm; 
text-align: center;
width: 100%;
padding: 1rem 0;     

p {
    color: $color-pie;
    font-size: 0.8125rem; 
    font-family: Arial, Helvetica, sans-serif;
}
}