@use 'variables' as *;

nav {
display: flex;
align-items: center;
justify-content: space-between;
font-family: $fuente-titulos;
text-transform: uppercase;
letter-spacing: 5px;
width: 100%;
padding: 1rem 1.25rem;
background: $color-rosa;

.logo img {
    display: block;
    height: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 5rem;
    width: 100%;

    a {
    color: $color-texto;
    text-decoration: none;
    font-size: $tamano-texto-lg;
    font-weight: bold;
    text-transform: uppercase;
    }
}
}