// Mixin para sombra
@mixin sombra($x: 0, $y: 8px, $blur: 24px, $color: rgba(0, 0, 0, 0.4)) {
    box-shadow: $x $y $blur $color;
}

  // Mixin para texto transformado
@mixin texto-transformado($tamano: $fuente-grande, $espaciado: $espaciado) {
    font-size: $tamano;
    text-transform: uppercase;
    letter-spacing: $espaciado;
}