/* Estilos base */
body {
  background-color: #f0f0f0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.amorcanino-titulo-principal {
  font-size: 2rem; /* Desktop por defecto */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  white-space: normal;
  animation: fadeInUp 1.5s ease-out forwards;
  opacity: 0;
  transform: translateY(-20px);
}

/* Media Query para móvil */
@media (max-width: 767px) {
  .amorcanino-titulo-principal {
    font-size: 1.5625rem;
    padding: 0 1rem;
    text-align: center;
  }

  .fondorosa {
    padding: 20px;
    font-size: 18px;
  }

  .imageninicio img {
    max-width: 100%;
  }

  p {
    font-size: 14px;
    padding: 0.5rem;
  }

  .contenedor {
    width: 90%;
  }
}

/* Media Query para tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .amorcanino-titulo-principal {
    font-size: 1.75rem;
    text-align: center;
  }

  .fondorosa {
    padding: 30px;
    font-size: 20px;
  }

  p {
    font-size: 16px;
    padding: 1rem;
  }

  .contenedor {
    width: 80%;
  }
}

/* Media Query para escritorio */
@media (min-width: 1024px) {
  .amorcanino-titulo-principal {
    font-size: 2rem;
  }

  .fondorosa {
    padding: 40px;
    font-size: 30px;
  }

  p {
    font-size: 20px;
    padding: 1rem 2rem;
  }

  .contenedor {
    width: 70%;
  }
}