@use 'variables' as *;

// _servicios.scss
.tituloprincipalinicioservicios {
    color: $color-titulo;
    font-size: $service-font-size-title;
    font-family: $service-font-family-main;
    font-weight: 900;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 70px;
    padding: 15px;
}

.titulosecundarioservicios {
    color: $color-titulo;
    font-size: $tamano-subtitulo-md;  
    font-family: $font-family-main;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
    text-align: center;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviciobasico,
.serviciocompleto {
    color: $color-titulo;
    font-family: $font-family-alt;
    font-size: $service-font-size-list;
    font-weight: 600;
    margin-bottom: 25px;
}

.lista {
    padding: 60px;
    font-family: $font-family-main;
    background-color: $primary-color;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.lista li {
    color: $color-texto;
    font-family: $font-family-main;
    font-size: $service-font-size-list;
    padding: 6px 0;
    text-decoration: none;
}

    .volver-arriba {
    display: inline-block;
    margin-top: 1rem;
    color: #fff;
    background-color: $secondary-color;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    }