// Fuentes
$font-family-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family-alt: Arial, Helvetica, sans-serif;
$font-family-titulos: Verdana, Geneva, Tahoma, sans-serif;
$font-family-contacto-alt: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

// Colores
$primary-color: #B14890;
$secondary-color: #FFACF0;
$color-fondo: #f0f0f0;
$color-texto: black;
$color-footer: black;
$color-titulo: black;
$color-fondo-rosa: $primary-color;

// Tamaños tipográficos (en rem)
$tamano-titulo-xl: 2rem;        // 32px
$tamano-titulo-lg: 1.75rem;     // 28px
$tamano-titulo-md: 1.5625rem;   // 25px
$tamano-subtitulo-lg: 1.75rem;  // 28px
$tamano-subtitulo-md: 1.5rem;   // 24px
$tamano-subtitulo-sm: 1.375rem; // 22px
$tamano-texto-lg: 1.25rem;      // 20px
$tamano-texto-md: 1.125rem;     // 18px
$tamano-texto-sm: 1rem;         // 16px
$tamano-texto-xs: 0.875rem;     // 14px

// Espaciados
$espaciado-pequeno: 8px;
$espaciado-mediano: 16px;
$espaciado-grande: 24px;

// Sombra general
$sombra-general: 0 0 35px #0006;

// Tamaños mapa
$mapa-height: 400px;
$mapa-height-mobile: 250px;

// Otros globales
$button-padding: 15px;

// --------------------
// VARIABLES ESPECÍFICAS POR SECCIÓN
// --------------------

// Servicios
$service-primary-color: $primary-color;
$service-font-family-main: $font-family-main;
$service-font-family-alt: $font-family-alt;
$service-font-size-title: 25px;
$service-font-size-list: 18px;

// Galería
$gallery-primary-color: gray;
$gallery-active-indicator-color: white;
$gallery-button-bg-color: rgba(0, 0, 0, 0.5);
$gallery-font-family-main: $font-family-titulos;
$gallery-font-size-title: 70px;
$gallery-carousel-height: 500px;
$gallery-carousel-max-width: 800px;

// Contacto
$contact-primary-color: $primary-color;
$contact-btn-success-bg-color: #28a745; // botón WhatsApp
$contact-font-family-main: $font-family-titulos;
$contact-font-family-alt: $font-family-contacto-alt;
$contact-font-size-title: 35px;
$contact-font-size-info: 20px;
$contact-font-size-text: 16px;
$contact-button-padding: $button-padding;
$contact-mapa-height: $mapa-height;
$contact-mapa-height-mobile: $mapa-height-mobile;
$contact-font-weight-bold: 900;

// Formularios y elementos generales 
$form-padding: 30px;
$form-box-shadow: 0 0 35px #0006;
$form-border-radius: 8px;
$iframe-height: 300px;
$iframe-height-mobile: 220px;
$heading-margin-bottom: 70px;

$mobile-min: 320px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;


$ancho-mobile: 90%;
$ancho-tablet: 80%;
$ancho-desktop: 70%;

$font-mobile: 16px;
$font-tablet: 18px;
$font-desktop: 20px;
