@use 'sass:color' as color;
@use 'variables' as *;
@use 'mixin' as *;
@use 'reset';
@use 'header';
@use 'footer';
@use 'components';
@use 'index';
@use 'servicios';
@use 'galeria';
@use 'contacto';
@use 'agenda';
@use 'responsive';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: $color-fondo;
  font-family: $font-family-alt;
  min-height: 100vh;
  width: 100%;
}

.amorcanino-titulo-principal {
  @include titulo-base(2.1875rem);
  color: $color-titulo;
  font-size: $tamano-titulo-xl; // 2rem = 32px
  font-family: $font-family-titulos;
  white-space: normal;
  animation: fadeInUp 1.5s ease-out forwards;
  opacity: 0;
  transform: translateY(-20px);
}

.amorcanino-titulo-secundario {
  color: $color-titulo;
  font-family: $font-family-main;
  font-size: $tamano-subtitulo-lg; // usa variable para consistencia
  display: block;
  width: 100%;
  text-align: center; // centrado horizontal
  margin-top: 10px;
}

p {
  color: $color-titulo;
  font-family: $font-family-main;
  font-size: $tamano-texto-md;
  width: 100%;
  padding: 0.625rem; // 10px en rem
  margin: 0 auto;
}

.wrapper, .main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}