.agenda {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    padding: $padding-large;
}

.actividad {
    background: $color-blanco;
    padding: $padding-medium;
    border-radius: 10px;
    box-shadow: $box-shadow;
}

.actividad h4 {
    font-size: 22px;
    font-weight: bold;
}

.actividad p {
    font-size: 18px;
    color: $color-gris;
}

.actividad .hora {
    font-weight: bold;
}