// Fondo rosa
.fondorosa {
    background: $color-rosa;
    font-family: $font-primary;
    font-size: 30px;
    padding: $padding-large;
    margin: 50px;
    max-width: 55%;
    border-radius: 20px;
    @include box-shadow;
}

  // Párrafos
p {
    color: $color-negro;
    font-family: $font-primary;
    font-size: 20px;
    padding: $padding-medium;
    width: 45%;
}