// Barra de navegación
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 90px;
    font-family: $font-primary;
    font-size: 20px;
    padding: $padding-small $padding-medium;
    background: #FFACF0;
}

  // Logo
.logo img {
    display: block;
    height: 100px;
}

  // Menú
.menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 80px;
    width: 100%;
}

  // Enlaces del menú
.menu a {
    color: $color-negro;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}