.servicios {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-medium;
    justify-content: space-between;
    padding: $padding-large;
}

.servicio {
    background: $color-blanco;
    box-shadow: $box-shadow;
    border-radius: 10px;
    padding: $padding-small;
    width: 48%; // Dos por fila
    text-align: center;
}

.servicio img {
    width: 100%;
    border-radius: 10px;
}

.servicio h3 {
    font-size: 24px;
    font-weight: bold;
    margin: $padding-small 0;
}

.servicio p {
    font-size: 18px;
    color: $color-gris;
}