// Colores
$color-rosa: #B14890;
$color-negro: #000000;
$color-blanco: #ffffff;
$color-gris: gray;

// Tipografía
$font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-secondary: 'Verdana', Geneva, Tahoma, sans-serif;
$font-tertiary: 'Arial', Helvetica, sans-serif;

// Espaciados
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;
$gap-medium: 40px;

// Sombra
$box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);

$padding-large: 20px;
$padding-large: 2rem;